.productDetailsPage {
  display: flex;
 
  padding: 40px 30px;
  

}
.imageofProduct {
    width: 30%;
    height: 40%;
}
.productdetails{
    padding: 20px;
    text-align: center;
}
.buttonDetailpage{
 display:flex;
  gap:20px;
  justify-content: center;

}
.detailpageButton{
 
  padding: 12px;
  margin: 0px 30px;
  
}
