.EditProductPage {
  max-width: 600px;
  margin: 50px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h3 {
  font-size: 2em;
  color: #187d36;
  margin-bottom: 20px;
}

.product-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0px 60px;
}

.form-group {
  margin-bottom: 8px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

label {
  margin: 3px 0;
  font-weight: bold;
  color: #187d36;
}

input,
textarea,
select {
  padding: 10px;
  margin-top: 3px;
  border: 1px solid #187d36;
  border-radius: 5px;
  font-size: 16px;
  transition: border 0.3s;
}

textarea {
  resize: vertical;
  min-height: 80px;
  border-color: #187d36;
}

button {
  padding: 12px;
  margin: 20px auto;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}
